@import './../../styles/settings';
@import './../../styles/mixins';

.Button {
    background: $white;
    border-radius: $border-radius;
    border: 1px solid $light-gray;
    box-shadow: $soft-shadow;
    color: map-get($colors, primary);
    display: inline-block;
    font-weight: $font-weight-bold;
    line-height: 1rem;
    padding: $button-padding;
    position: relative;
    text-decoration: none;
    transition: $hover-transition;

    & + &:not(:first-child) {
        margin-left: 0.5rem;
    }

    &:hover,
    &:focus {
        //background-color: $faint-gray;
        box-shadow: $floating-shadow;
        outline: none;
    }

    &.button-primary {
        background: map-get($colors, primary);
        border-color: transparent;
        color: $white;
        font-weight: $font-weight-bold;

        &:hover,
        &:focus {
            background-color: scale-color(map-get($colors, primary), $lightness: $darken);
        }
    }

    &.button-plain {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: map-get($colors, primary);

        &:hover,
        &:focus,
        &.active {
            background-color: $faint-gray;
        }

        &.active {
            color: $black;
        }

        &.button-inverse {
            color: rgba($white, 0.85);

            &:hover,
            &:focus {
                //background-color: rgba($faint-gray, 0.25);
                background-color: $light-gray;
                color: $white;
            }
        }
    }

    &.button-typographic {
        box-shadow: none;
        padding-right: 0;
        padding-left: 0;

        &:hover,
        &:focus,
        &.active {
            background-color: transparent;
            color: scale-color(map-get($colors, primary), $lightness: $darken);
        }

        &.button-inverse {
            color: rgba($white, 0.85);

            &:hover,
            &:focus {
                background-color: transparent;
                color: $white;
            }
        }
    }

    &.button-link {
        display: inline-block;
    }

    &.button-large {
        //font-size: $large-font-size;
        padding: $large-button-padding;
        & + &:not(:first-child) {
            margin-left: 1.25rem;
        }
    }
}
