@import './../../styles/settings';
@import './../../styles/mixins';

.Button {
    background: map-get($colors, primary);
    border-radius: $border-radius;
    box-shadow: $soft-shadow;
    color: $white;
    display: inline-block;
    line-height: 1rem;
    padding: $button-padding;
    position: relative;
    text-decoration: none;
    transition: $hover-transition;

    &:hover,
    &:focus {
        background-color: scale-color(map-get($colors, primary), $lightness: $darken);
        box-shadow: $floating-shadow;
        outline: none;
    }

    &.button-round {
        border-radius: $button-round-border-radius;
    }

    &.button-plain {
        background-color: transparent;
        box-shadow: none;
        color: map-get($colors, primary);

        &:hover,
        &:focus,
        &.active {
            background-color: $faint-gray;
        }

        &.active {
            color: $black;
        }

        &.button-inverse {
            color: rgba($white, 0.85);

            &:hover,
            &:focus {
                //background-color: rgba($faint-gray, 0.25);
                background-color: $light-gray;
                color: $white;
            }
        }
    }

    &.button-typographic {
        box-shadow: none;
        padding-right: 0;
        padding-left: 0;

        &:hover,
        &:focus,
        &.active {
            background-color: transparent;
            color: scale-color(map-get($colors, primary), $lightness: $darken);
        }

        &.button-inverse {
            color: rgba($white, 0.85);

            &:hover,
            &:focus {
                background-color: transparent;
                color: $white;
            }
        }
    }

    &.button-link {
        display: inline;
    }

    &.button-primary {
        font-weight: $font-weight-bold;
    }

    &.button-large {
        font-size: $large-font-size;
        padding: $large-button-padding;
    }
}
