@import './../../styles/settings';
//@import './../../styles/mixins';

.Landscape {
    position: absolute;
    z-index: map-get($layers, back);

    &.landscape-top {
        top: 0;
    }

    &.landscape-right {
        right: 0;
    }

    &.landscape-bottom {
        bottom: 0;
    }

    &.landscape-left {
        left: 0;
    }

    // svg text styles

    .pattern-text {
        font-family: serif;
        letter-spacing: -0.35rem;
    }

    .pattern-text-large {
        font-size: 200%;
    }

    .pattern-text-monospace {
        font-family: monospace;
    }
}