@import 'util/mixins';
@import 'settings';

$footer-background: linear-gradient(90deg, #AB47BC, #7E57C2);

footer {
    background: $footer-background;
    margin-top: $global-margin * 6;
    padding: ($global-margin * 6) 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $footer-background;
        transform: skew(0, $custom-panel-angle);
        transform-origin: bottom left;
    }

    * {
        color: $white;
    }
}