@import 'util/mixins';
@import 'settings';

.label {
    &.plain {
        padding: 0;
        background: transparent;
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: $global-weight-bold;
    }
}

.inverse {
    .label {
        &.plain {
            color: rgba($white, 0.65);
        }
    }
}