@import './settings';
@import './mixins';

body {
    color: $black;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    min-width: $app-min-width;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*::selection {
    background-color: rgba(scale-color(map-get($colors, primary), $saturation: 2, $hue: -2), 0.25);
    color: inherit;
}

@each $heading, $fontsize in $headings {
    #{$heading} {
        //font-family: $headings-font-family;
        font-size: $fontsize;
        line-height: $headings-line-height;
        margin-top: $vertical-margin * 1.5;
        margin-bottom: $vertical-margin;

        &.auxiliary {
            font-size: $font-size;
            font-weight: $font-weight-normal;
            color: $medium-gray;
            margin-bottom: $vertical-margin * -0.5;
        }
    }
}

h1 {
    strong {
        font-weight: inherit;
        background-color: rgba(map-get($colors, primary), 0.25);
        color: scale-color($black, $lightness: -10%);

        border-radius: $border-radius;

        $edge-shift: 0.25rem;
        margin-right: -$edge-shift;
        margin-left: -$edge-shift;
        padding: 0 $edge-shift;
    }
}

.headline {
    font-size: $headline-font-size;
    font-family: $headings-font-family;
    margin-top: 0;
}

.subhead {
    color: $medium-gray;
    margin-top: -$vertical-margin;
}

.lead {
    font-size: $large-font-size;
    line-height: $line-height;

    &:last-child {
        margin-bottom: $vertical-margin * 1.5;
    }

    &.subhead {
        color: $black;
    }
}

p {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

ul,
ol {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;

    &.list-plain {
        list-style: none;
    }
}

ol {
    list-style: none;
    counter-reset: li;

    li {
        counter-increment: li;
    }

    li:before {
        content: counter(li);
        color: $light-gray;
        display: inline-block;
        width: 1em;
        margin-left: -2em;
        margin-right: 1em;
        text-align: right;
    }
}

code {
    background: $faint-gray;
    border-radius: $block-border-radius;
    display: block;
    font-size: $small-font-size;
    //@include responsive-padding();
    padding: $vertical-padding * 2 $horizontal-padding * 1.5;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    white-space: pre;
}

table {
    width: 100%;
    text-align: left;

    th {
        color: $medium-gray;
    }

    td,
    th {
        padding: $table-cell-padding;
        vertical-align: top;
    }

    tr {
        border-bottom: 0.0625rem solid $lighter-gray;
    }

    &.table-aesthetic td:first-child {
        width: 35%;
        @include breakpoint(small) {
            width: unquote((100 / 4.2358) + '%');
        }
    }
}

blockquote {
    font-family: $headings-font-family;
    font-size: map-get($headings, h3);
    font-weight: $font-weight-bold;
    // font-style: italic;
    margin: $vertical-margin 0;
    max-width: 60rem;

    @include breakpoint(medium) {
        font-size: map-get($headings, h2);
    }

    @include breakpoint(large) {
        font-size: map-get($headings, h1);
    }
}

cite {
    display: block;
    font-style: normal;
    font-size: $small-font-size;

    blockquote + & {
        margin-top: $vertical-margin * -0.5;
    }
}

.quote {
    padding-left: 1.75rem;
    position: relative;
    color: $darker-gray;
    margin: $vertical-margin 0;

    &:before {
        background-color: rgba(map-get($colors, primary), 0.5);
        border-radius: $border-radius;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.25rem;
    }
}

.white-space-emphasis {
    margin: $vertical-margin * 2 0;
}

.white-space-emphasis-top {
    margin-top: $vertical-margin * 2;
}

.white-space-emphasis-bottom {
    margin-bottom: $vertical-margin * 2;
}

.white-space-great-emphasis-top {
    margin-top: $vertical-margin * 4;
}

.white-space-great-emphasis-bottom {
    margin-bottom: $vertical-margin * 4;
}

.auxiliary {
    font-size: $small-font-size;
}

.cozy-line-length {
    max-width: 45rem;
}

.well {
    background: $faint-gray;
    border-radius: $block-border-radius;
    @include responsive-padding();
    //padding: $vertical-padding * 2 $horizontal-padding * 1.5;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}