@import './settings';
@import './mixins';

body {
    color: $black;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    min-width: $app-min-width;
}

*::selection {
    background-color: rgba(scale-color(map-get($colors, primary), $saturation: 2, $hue: -2), 0.25);
    color: inherit;
}

@each $heading, $fontsize in $headings {
    #{$heading} {
        //font-family: $headings-font-family;
        font-size: $fontsize;
        line-height: $headings-line-height;
        margin-top: $vertical-margin * 1.5;
        margin-bottom: $vertical-margin;
    }
}

h1 {
    strong {
        font-weight: inherit;
        background-color: rgba(map-get($colors, primary), 0.25);
        color: scale-color($black, $lightness: -10%);

        border-radius: $border-radius;

        $edge-shift: 0.25rem;
        margin-right: -$edge-shift;
        margin-left: -$edge-shift;
        padding: 0 $edge-shift;
    }
}

.headline {
    font-size: $headline-font-size;
    font-family: $headings-font-family;

    &:first-child {
        margin-top: $vertical-margin * 3;
    }
}

.subhead {
    color: $medium-gray;
    margin-top: -$vertical-margin;
}

p {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;

    &.lead {
        font-size: $large-font-size;
        line-height: $line-height;

        &:last-child {
            margin-bottom: $vertical-margin * 1.5;
        }

        @include breakpoint(medium) {
            & + & {
                margin-top: -$vertical-margin;
            }
        }
    }
}

ul,
ol {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;

    &.list-plain {
        list-style: none;
    }
}

@each $screen, $size in $breakpoints {
    @each $alignment in $alignments {
        @include breakpoint($screen) {
            .#{$screen}-#{$alignment} {
                text-align: $alignment;
            }
        }
    }
}

code {
    background: $faint-gray;
    border-radius: $block-border-radius;
    display: block;
    font-size: $small-font-size;
    //@include responsive-padding();
    padding: $vertical-padding * 2 $horizontal-padding * 1.5;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

blockquote {
    font-family: $headings-font-family;
    font-size: map-get($headings, h2);
    font-weight: $font-weight-normal;
    font-style: italic;
    margin: $vertical-margin 0;
    max-width: 60rem;
}

cite {
    display: block;
    font-style: normal;
    font-size: $small-font-size;

    blockquote + & {
        margin-top: $vertical-margin * -0.5;
    }
}

.quote {
    padding-left: 1.5rem;
    position: relative;
    color: $dark-gray;

    &:before {
        background-color: $light-gray;
        border-radius: $border-radius;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.1875rem;
    }
}


.white-space-emphasis {
    margin: $vertical-margin * 2 0;
}