@import './settings';

body {
    color: $black;
    font-family: $font-family;
    font-size: 1rem;
    line-height: 160%;
    min-width: $app-min-width;

    *::selection {
        //background-color: scale-color(map-get($colors, secondary), $lightness: $lighten * 2.5);
        background-color: rgba(scale-color(map-get($colors, primary), $saturation: 2, $hue: -2), 0.25);
        color: inherit;
    }
}

@each $heading, $fontsize in $headings {
    #{$heading} {
        font-family: $headings-font-family;
        font-size: $fontsize;
        line-height: $headings-line-height;
        margin-top: $vertical-margin;
        margin-bottom: $vertical-margin;
    }
}

h1 {
    strong {
        font-weight: inherit;
        background-color: rgba(map-get($colors, primary), 0.25);
        color: scale-color($black, $lightness: -10%);

        border-radius: $border-radius;

        $edge-shift: 0.25rem;
        margin-right: -$edge-shift;
        margin-left: -$edge-shift;
        padding: 0 $edge-shift;
    }
}

.headline {
    font-size: $headline-font-size;

    @include breakpoint(medium) {

    }
    &:first-child {
        margin-top: $vertical-margin * 3;
    }
}

p {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;

    &.lead {
        font-size: $large-font-size;
        line-height: $line-height;

        &:last-child {
            margin-bottom: $vertical-margin * 1.5;
        }
    }
}
