@import './../../styles/settings';
@import './../../styles/functions';

.Label {
    background-color: $faint-gray;
    border-radius: $label-border-radius;
    display: inline-block;
    margin: 0.375rem 0;
    font-size: $small-font-size;
    padding: $label-padding;

    @each $color, $code in $colors {
        &.label-#{$color} {
            background-color: $code;
            color: color-contrast($code);
        }
    }

    & + & {
        margin-left: 0.5rem;
    }
}