@import './../../styles/settings';
@import './../../styles/functions';

.Label {
    background-color: $faint-gray;
    border-radius: $label-border-radius;
    padding: $label-padding;

    @each $color, $code in $colors {
        &.label-#{$color} {
            background-color: $code;
            color: color-contrast($code);
        }
    }

    & + & {
        margin-left: 0.5rem;
    }
}