@import './../../styles/settings';
@import './../../styles/mixins';

.Splash {
    display: flex;
    //align-items: center;
    min-height: 75vh;

    // todo: make responsive
    padding-top: $vertical-margin * 2;
    padding-bottom: $vertical-margin * 2;

    & > .content {
        //position: relative;
    }
}