@import './../../styles/settings';
@import './../../styles/mixins';

header {
    background: $white;
    box-shadow: $soft-shadow;
    @include responsive-padding();
    position: relative;
    z-index: map-get($layers, sticky);

    @include breakpoint(medium) {
        position: fixed;
        z-index: map-get($layers, fixed);
        width: 100%;
    }
}