<footer>
    <div class="grid-container">
        <div class="grid-x grid-padding-x small-up-1 medium-up-3">
            <div class="cell">
                <div class="padded">
                    <p>Once More with Feeling</p>
                    <ul class="no-bullet">
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Play</a></li>
                        <li><a href="#">CV</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell">
                <div class="padded">
                    <p>…</p>
                </div>
            </div>
            <div class="cell">
                <div class="padded">
                    <p><strong>Pavel Hamrik</strong></p>
                    <p>Let's manage and design meaningful products</p>
                    <p><a href="mailto:hey@pavelhamrik.com">hey@pavelhamrik.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
