<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Pavel Hamrik</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#0" class="button clear primary">Work</a></li>
            <li><a href="#0" class="button clear secondary">Play</a></li>
            <li><a href="#0" class="button clear secondary">CV</a></li>
            <li><a href="#0" class="button clear secondary">Contact</a></li>
        </ul>
    </div>
</div>