<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<nav class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="index.html" class="button clear title">Pavel Hamrik<span class="subtitle"></span></a></li>
            <li class="menu-text">{Product Designer}</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index.html" class="button clear">Work</a></li>
            <li><a href="#" class="button clear">Play</a></li>
            <li><a href="#" class="button clear">CV</a></li>
            <li><a href="#" class="button clear">Contact</a></li>
        </ul>
    </div>
</nav>