@import url('~sanitize.css');

@import './styles/settings';
@import './styles/mixins';
@import './styles/typography';
@import './styles/responsive-utils';

//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
//@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-color: $footer-color;
}

.App {
    .Content {
        background-color: $background-color;
        overflow-x: hidden;
        @include responsive-padding($vertical-factor: 0);

        @include breakpoint(medium) {
            padding-top: 4.5rem;
        }
        @include breakpoint(large) {
            padding-top: 5rem;
        }
    }
}
